<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BsnlReports" >
<!--  Live Item Reports Sqls -->
	 <!-- Report # 1 -->
  <resultMap id="RM_LIR_ItemListing" type="ReportDataDTO">
  	 <result property="deviceDisplayName" column="DEVICE_DISPLAY_NAME"/>
  	 <result property="developerName" column="DEVELOPER_NAME"/>
  	 <result property="launchDate" column="LIVE_DATE"/>
  	 <result property="companyName" column="COMPANY_ID"/>
  	 <result property="longDesc" column="LDESC"/>
  	 <result property="shortDesc" column="SDESC"/>
  	 <result property="fileSize" column="FILE_SIZE"/>
  	 <result property="sellPrice" column="BEST_PRICE"/>
  	 <result property="renewalPrice" column="RENEWAL_PRICE"/>
  	 <result property="priceModelName" column="PRICE_MODEL_NAME"/>
  	 <result property="itemType" column="ITEM_TYPE"/>
  	 <result property="networkAware" column="NETWORK_AWARE"/>
  	 <result property="publisherFlag" column="PUB_FLAG"/>
  	 <result property="itemId" column="ITEM_ID"/>
  	 <result property="noOfOrders" column="noOfOrders"/>
  	 <result property="externalItemId" column="IMAGE_FILE"/>
  	 <collection property="devices" 
  	 	column="compId=COMPANY_ID, devName=DEVELOPER_NAME, dispName=DEVICE_DISPLAY_NAME" 
  	 	javaType="ArrayList" select="getSupportedDevices">
  	 </collection>
  	 <collection property="mappedCat" 
  	 	column="compId=COMPANY_ID, devName=DEVELOPER_NAME, dispName=DEVICE_DISPLAY_NAME" 
  	 	javaType="ArrayList" select="getMappedCategories">
  	 </collection>
  </resultMap>	
  <select id="getItemListing" resultMap="RM_LIR_ItemListing">
  	SELECT I.DEVICE_DISPLAY_NAME,
	       I.DEVELOPER_NAME,
	       I.COMPANY_ID,
	       TO_CHAR(MAX(I.LIVE_DATE),'DD-MON-YYYY')  LIVE_DATE,
	       MAX(NVL(I.LDESC,'N/A')) LDESC,
	       MAX(NVL(I.SDESC,'N/A')) SDESC,
	       MAX(I.FILE_SIZE) FILE_SIZE,
	       MAX(PM.PRICE_MODEL_DISPLAY_NAME) PRICE_MODEL_NAME,
	       MAX(IP.BEST_PRICE) BEST_PRICE,
	       MAX(NVL(IP.RENEWAL_PRICE,0)) RENEWAL_PRICE,
	       MIN(IT.DISPLAY_NAME) ITEM_TYPE,
       	   MIN(I.NETWORK_AWARE) NETWORK_AWARE,
       	   DECODE(C.PUBLISHER_FLAG, 'true', 'IN',' ') PUB_FLAG,
       	   MAX(I.PHONE_PREVIEW_IMAGE) IMAGE_FILE,
       	   MAX(I.ITEM_ID) ITEM_ID,
       	   COUNT(I.ITEM_ID) noOfOrders
	  FROM MF_ITEM I, MF_ITEM_PRICE IP, MF_ITEM_TYPE IT, MF_COMPANY C, MF_PRICE_MODEL PM
	 WHERE I.LIVE_DATE IS NOT NULL
	   AND I.STATUS = 1
	   AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	   AND I.ITEM_ID = IP.ITEM_ID
	   AND I.COMPANY_ID = C.COMPANY_ID
	   AND IP.PRICE_MODEL_ID = PM.PRICE_MODEL_ID
	   AND I.ITEM_TYPE_ID = IT.ITEM_TYPE_ID
	 GROUP BY I.DEVICE_DISPLAY_NAME,
          	  I.DEVELOPER_NAME,
          	  I.COMPANY_ID,
          	  DECODE(C.PUBLISHER_FLAG, 'true', 'IN', ' ')
	 ORDER BY I.DEVELOPER_NAME,I.DEVICE_DISPLAY_NAME
  </select>
  
  <select id="getSupportedDevices" resultType="String" parameterType="Map">
  	SELECT DISTINCT D.DEVICE_NAME
	  FROM MF_ITEM              I,
	       MF_ITEM_DEVICE_GROUP IDG,
	       MF_DEVICE_GROUP_MAP  DGM,
	       MF_DEVICE            D       
	 WHERE I.COMPANY_ID = #{compId}
	   AND I.DEVELOPER_NAME = #{devName}
	   AND I.DEVICE_DISPLAY_NAME = #{dispName}
	   AND I.STATUS = 1
	   AND I.LIVE_DATE IS NOT NULL
	   AND I.LIVE_DATE <![CDATA[<]]>SYSDATE
	   AND I.ITEM_ID = IDG.ITEM_ID
	   AND IDG.DEVICE_GROUP_ID = DGM.DEVICE_GROUP_ID
	   AND DGM.DEVICE_ID = D.DEVICE_ID
	   ORDER BY DEVICE_NAME
  </select>
  
  <select id="getMappedCategories" resultType="String" parameterType="Map">
  	SELECT DISTINCT PN.NODE_NAME
	  FROM MF_ITEM I, MF_ITEM_CATEGORY IC, PP_CAT_NODE PN
	 WHERE I.ITEM_ID = IC.ITEM_ID
	   AND IC.NODE_ID = PN.NODE_ID
	   AND I.COMPANY_ID = #{compId}
	   AND I.DEVELOPER_NAME = #{devName}
	   AND I.DEVICE_DISPLAY_NAME = #{dispName}
	   AND I.STATUS = 1
	   AND I.LIVE_DATE IS NOT NULL
	   AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	 ORDER BY NODE_NAME
  </select>
  
  <!-- Report # 2 -->
  <resultMap id="RM_LIR_ItemCountByOS" type="ReportDataDTO">
  	<result property="deviceDisplayName" column="DISPLAY_NAME"/>
  	<result property="noOfOrders" column="NUMBER_OF_ITEMS"/>
  </resultMap>	
  <select id="getItemCountByOS" resultMap="RM_LIR_ItemCountByOS">
  	SELECT IT.DISPLAY_NAME, COUNT(X.ITEM_ID) NUMBER_OF_ITEMS
	  FROM (SELECT MIN(I.ITEM_ID) ITEM_ID, MIN(I.ITEM_TYPE_ID) ITEM_TYPE_ID
	          FROM MF_ITEM I, MF_COMPANY C
	         WHERE I.LIVE_DATE IS NOT NULL
	           AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	           AND I.COMPANY_ID = C.COMPANY_ID
	           AND I.STATUS = 1
	         GROUP BY I.DEVICE_DISPLAY_NAME, I.DEVELOPER_NAME, I.COMPANY_ID) X,
	       MF_ITEM_TYPE IT
	 WHERE X.ITEM_TYPE_ID = IT.ITEM_TYPE_ID
	 GROUP BY X.ITEM_TYPE_ID, IT.DISPLAY_NAME
	HAVING COUNT(X.ITEM_ID) <![CDATA[>]]> 0
	 ORDER BY IT.DISPLAY_NAME
	   
	   
  </select>
  
  <!-- Report # 3 -->
  <resultMap id="RM_LIR_CatItemCount" type="ReportDataDTO">
     <result property="catId" column="NODE_ID"/>
     <result property="deviceDisplayName" column="DISPLAY_NAME"/>
     <result property="noOfOrders" column="NO_OF_ITEMS"/>
  </resultMap>	
  <select id="getCatItemCount" resultMap="RM_LIR_CatItemCount">
	 SELECT CN.NODE_ID, CN.DISPLAY_NAME, COUNT(X.ITEM_ID) NO_OF_ITEMS
	  FROM PP_CAT_NODE CN,
	       (SELECT IC.NODE_ID, MAX(I.ITEM_ID) ITEM_ID
	          FROM MF_ITEM I, MF_COMPANY C, MF_ITEM_CATEGORY IC
	         WHERE I.LIVE_DATE IS NOT NULL
	           AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	           AND I.COMPANY_ID = C.COMPANY_ID
	           AND I.ITEM_ID = IC.ITEM_ID
	           AND I.STATUS = 1
	         GROUP BY I.DEVICE_DISPLAY_NAME,
	                  I.DEVELOPER_NAME,
	                  I.COMPANY_ID,
	                  IC.NODE_ID) X
	 WHERE X.NODE_ID = CN.NODE_ID
	 GROUP BY CN.DISPLAY_NAME, CN.NODE_ID
	 ORDER BY CN.DISPLAY_NAME
  </select>
  
  <!-- Report # 4 -->
  <resultMap id="RM_DeviceItemCount" type="ReportDataDTO">
  	<result property="appTypeId" column="DEVICE_ID"/>
  	 <result property="deviceDisplayName" column="DEVICE_NAME"/>
     <result property="noOfOrders" column="NO_OF_ITEMS"/>
  </resultMap>	
  <select id="getDeviceItemCount" resultMap="RM_DeviceItemCount">
  	SELECT MIN(D.DEVICE_ID) DEVICE_ID,D.DEVICE_NAME, COUNT(DI.ITEM_ID) NO_OF_ITEMS
	  FROM MF_DEVICE D,
	       MF_ITEM I, MF_COMPANY C,
	       (SELECT DISTINCT DGM.DEVICE_ID, IDG.ITEM_ID
	          FROM MF_DEVICE_GROUP_MAP DGM, MF_ITEM_DEVICE_GROUP IDG
	         WHERE DGM.DEVICE_GROUP_ID = IDG.DEVICE_GROUP_ID) DI
	 WHERE I.LIVE_DATE IS NOT NULL
	   AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	   AND I.STATUS = 1
	   AND I.COMPANY_ID = C.COMPANY_ID
	   AND D.DEVICE_ID = DI.DEVICE_ID
	   AND DI.ITEM_ID = I.ITEM_ID
	 GROUP BY D.DEVICE_NAME
	 ORDER BY D.DEVICE_NAME
  </select>
  
  
  <!-- Report # 5 -->
  <resultMap id="RM_ItemFreePaidCount" type="ReportDataDTO">
  	 <result property="deviceDisplayName" column="PRICE_MODEL_DISPLAY_NAME"/>
     <result property="noOfOrders" column="NO_OF_ITEMS"/>
  </resultMap>	
  <select id="getItemFreePaidCount" resultMap="RM_ItemFreePaidCount">
  	SELECT PM.PRICE_MODEL_DISPLAY_NAME, COUNT(X.ITEM_ID) NO_OF_ITEMS
	  FROM MF_ITEM_PRICE IP,
	       MF_PRICE_MODEL PM,
	       (SELECT MAX(I.ITEM_ID) ITEM_ID
	          FROM MF_ITEM I, MF_COMPANY C
	         WHERE I.LIVE_DATE IS NOT NULL
	           AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	           AND I.COMPANY_ID = C.COMPANY_ID
	           AND I.STATUS = 1
	         GROUP BY I.DEVICE_DISPLAY_NAME, I.DEVELOPER_NAME, I.COMPANY_ID) X
	 WHERE X.ITEM_ID = IP.ITEM_ID
	   AND PM.PRICE_MODEL_ID = IP.PRICE_MODEL_ID
	 GROUP BY PM.PRICE_MODEL_DISPLAY_NAME, IP.PRICE_MODEL_ID
	 ORDER BY PM.PRICE_MODEL_DISPLAY_NAME
  </select>
  
  <resultMap id="RM_CatItemPriceCount" type="ReportDataDTO">
  	 <result property="deviceDisplayName" column="BEST_PRICE"/>
     <result property="noOfOrders" column="NO_OF_ITEMS"/>
  </resultMap>	
  <select id="selCatItemPriceCount" parameterType="java.util.Map"  resultMap="RM_CatItemPriceCount">
  	SELECT BEST_PRICE,COUNT(X.ITEM_ID) NO_OF_ITEMS
	  FROM MF_ITEM_PRICE IP,
	       (SELECT MAX(I.ITEM_ID) ITEM_ID
	          FROM MF_ITEM I, MF_COMPANY C, MF_ITEM_CATEGORY IC
	         WHERE I.LIVE_DATE IS NOT NULL
	           AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	           AND I.COMPANY_ID = C.COMPANY_ID
	           AND I.ITEM_ID = IC.ITEM_ID
	           AND IC.NODE_ID = #{catId}
	           AND I.STATUS = 1
	         GROUP BY I.DEVICE_DISPLAY_NAME, I.DEVELOPER_NAME, I.COMPANY_ID) X
	 WHERE X.ITEM_ID = IP.ITEM_ID
	 AND IP.PRICE_MODEL_ID <![CDATA[<>]]> #{pmId}
	 GROUP BY BEST_PRICE
	 ORDER BY BEST_PRICE DESC
  </select>
  
  <select id="selPricePointHeader" resultType="String">
  	SELECT DISTINCT BEST_PRICE
	  FROM MF_ITEM_PRICE
	 WHERE BEST_PRICE <![CDATA[>]]> 0
	 ORDER BY 1
  </select>
  
  
  <sql id="orderDateClause">
  	 AND O.ORDER_DATE BETWEEN
          TO_DATE(TO_CHAR(FROM_TZ(CAST(TO_DATE(#{startDate, typeHandler=com.cellmania.cmreports.db.handlers.DateTypeHandler} ||
                                         ' 00:00:00',
                                         'DD-MON-YYYY HH24:MI:SS') AS
                                 TIMESTAMP),
                            '${carrier.carrierTimeZone}') AT TIME ZONE
                    '${serverTimeZone}',
                    'DD-MON-YYYY hh24:mi:ss'),
            'DD-MON-YYYY hh24:mi:ss') AND
    TO_DATE(TO_CHAR(FROM_TZ(CAST(TO_DATE(#{endDate, typeHandler=com.cellmania.cmreports.db.handlers.DateTypeHandler} ||
                                         ' 23:59:59',
                                         'DD-MON-YYYY HH24:MI:SS') AS
                                 TIMESTAMP),
                            '${carrier.carrierTimeZone}') AT TIME ZONE
                    '${serverTimeZone}',
                    'DD-MON-YYYY hh24:mi:ss'),
            'DD-MON-YYYY hh24:mi:ss')
  </sql>
  
  <resultMap id="RM_ItemCatDevice" type="ReportDataDTO">
  	<result property="deviceType" column="DEVICE_NAME"/>
  	 <result property="deviceDisplayName" column="DISPLAY_NAME"/>
     <result property="noOfOrders" column="NO_OF_ITEMS"/>
  </resultMap>	
  <select id="selItemCatDevice" resultMap="RM_ItemCatDevice">
  	SELECT D.DEVICE_NAME, CN.DISPLAY_NAME, COUNT(X.ITEM_ID) NO_OF_ITEMS
	  FROM PP_CAT_NODE CN,
	       MF_DEVICE D,
	       MF_ITEM_CATEGORY IC,
	       (SELECT MAX(I.ITEM_ID) ITEM_ID
	          FROM MF_ITEM I
	         WHERE I.LIVE_DATE IS NOT NULL
	           AND I.LIVE_DATE <![CDATA[<]]> SYSDATE
	           AND I.STATUS = 1
	         GROUP BY I.DEVICE_DISPLAY_NAME, I.DEVELOPER_NAME, I.COMPANY_ID) X,
	       (SELECT DISTINCT DGM.DEVICE_ID, IDG.ITEM_ID
	          FROM MF_DEVICE_GROUP_MAP DGM, MF_ITEM_DEVICE_GROUP IDG
	         WHERE DGM.DEVICE_GROUP_ID = IDG.DEVICE_GROUP_ID) DI
	 WHERE DI.ITEM_ID = X.ITEM_ID
	   AND DI.DEVICE_ID = D.DEVICE_ID
	   AND X.ITEM_ID = IC.ITEM_ID
	   AND IC.NODE_ID = CN.NODE_ID
	 GROUP BY D.DEVICE_NAME, CN.DISPLAY_NAME
	 ORDER BY D.DEVICE_NAME, CN.DISPLAY_NAME
  </select>
  
  <!--  Free Item Invoice Report  -->
  <resultMap id="RM_FreeItemInvoiceReport" type="ReportDataDTO">
  	 <result property="orderDate" column="INV_MONTH"/>
     <result property="launchDate" column="INV_DAY"/>
     <result property="circleName" column="CITY_CIRCLE"/>
     <result property="deviceDisplayName" column="DEVICE_DISPLAY_NAME"/>
     <result property="noOfOrders" column="ORD_COUNT"/>
     <result property="csPct" column="EMP_DED_PCT"/>
     <result property="carrierShare" column="EMP_DED"/>
     <result property="cellmaniaShare" column="NET_ORD_COUNT"/>
     <result property="cellmaniaSharePct" column="EUP"/>
     <result property="sellPrice" column="GROSS_SALES"/>
     <result property="salesAdjust" column="WPC"/>
     <result property="netSales" column="AFTER_WPC_SALES"/>
  </resultMap>	
  <select id="selFreeItemInvoiceReport" parameterType="RequestDTO" resultMap="RM_FreeItemInvoiceReport">
  SELECT INV_MONTH, INV_DAY, CITY_CIRCLE, DEVICE_DISPLAY_NAME, ORD_COUNT,
       0.015 EMP_DED_PCT, EMP_DED, NET_ORD_COUNT, 0.5 EUP, GROSS_SALES,
       TAX_RATE WPC, GROSS_SALES AFTER_WPC_SALES 
  FROM (SELECT TO_CHAR(FROM_TZ(CAST(O.ORDER_DATE AS TIMESTAMP),
                               '${serverTimeZone}') AT TIME ZONE
                       '${carrier.carrierTimeZone}',
                       'MM-YYYY') INV_MONTH,
               TO_CHAR(FROM_TZ(CAST(O.ORDER_DATE AS TIMESTAMP),
                               '${serverTimeZone}') AT TIME ZONE
                       '${carrier.carrierTimeZone}',
                       'DD/MM/YYYY') INV_DAY,
               CW.CITY_CIRCLE,CW.TAX_RATE/100 TAX_RATE,
               O.DEVICE_DISPLAY_NAME,
               COUNT(O.ORDER_ID) ORD_COUNT,
               ROUND(COUNT(O.ORDER_ID) * 0.015) EMP_DED,
               (COUNT(O.ORDER_ID) - ROUND(COUNT(O.ORDER_ID) * 0.015)) NET_ORD_COUNT,
               ((COUNT(O.ORDER_ID) - ROUND(COUNT(O.ORDER_ID) * 0.015)) * 0.5) GROSS_SALES
          FROM MF_ORDER O, CIRCLE_LOOKUP CW, MF_ITEM I
         WHERE TO_NUMBER(SUBSTR(PTN, 1, 7)) BETWEEN
               TO_NUMBER(CW.RANGE_START) AND TO_NUMBER(CW.RANGE_END)
           AND O.ORDER_TYPE IS NULL
           AND O.PRICE_MODEL_ID = 1005
           AND O.ITEM_ID = I.ITEM_ID
           AND I.NETWORK_AWARE = 1
           <include refid="orderDateClause"/>        
         GROUP BY TO_CHAR(FROM_TZ(CAST(O.ORDER_DATE AS TIMESTAMP),
                                          '${serverTimeZone}') AT TIME ZONE
                                 '${carrier.carrierTimeZone}',
                                 'MM-YYYY'),
                         TO_CHAR(FROM_TZ(CAST(O.ORDER_DATE AS TIMESTAMP),
                                          '${serverTimeZone}') AT TIME ZONE
                                 '${carrier.carrierTimeZone}',
                                 'DD/MM/YYYY'),
                         CW.CITY_CIRCLE,
                         CW.TAX_RATE/100,
                         O.DEVICE_DISPLAY_NAME
        )
        ORDER BY CITY_CIRCLE, INV_DAY, DEVICE_DISPLAY_NAME
  </select>
  
  <resultMap id="RM_PaidItemInvoiceReport" type="ReportDataDTO">
  	 <result property="circleName" column="CITY_CIRCLE"/>
     <result property="deviceDisplayName" column="DEVICE_DISPLAY_NAME"/>
     <result property="noOfOrders" column="ORD_COUNT"/>
     <result property="sellPrice" column="GROSS_SALES"/>
     <result property="csPct" column="EMP_DED_PCT"/>
     <result property="carrierShare" column="EMP_DED"/>
     <result property="cellmaniaShare" column="NET_ORD_Sales"/>
     <result property="cpSharePct" column="WPC_TELKOM"/>
     <result property="salesAdjust" column="WPC_TELKOM_FEE"/>
     <result property="netSales" column="AFTER_WPC_FEE"/>
     <result property="totalRevPct" column="totalRevPct"/>
     <result property="carrierInvoice" column="carrierInvoice"/>
  </resultMap>	
  <select id="selPaidItemInvoiceReport" parameterType="RequestDTO" resultMap="RM_PaidItemInvoiceReport">
    SELECT CW.CITY_CIRCLE,
	       O.DEVICE_DISPLAY_NAME,
	       COUNT(O.ORDER_ID) ORD_COUNT,
	       SUM(O.ORDER_TOTAL) GROSS_SALES,
	       0.015 EMP_DED_PCT,
	       (SUM(O.ORDER_TOTAL) * 0.015) EMP_DED,
	       (SUM(O.ORDER_TOTAL) - (SUM(O.ORDER_TOTAL) * 0.015)) NET_ORD_Sales,
	       (CW.TAX_RATE/100) WPC_TELKOM,
	       ((SUM(O.ORDER_TOTAL) - (SUM(O.ORDER_TOTAL) * 0.015)) * (CW.TAX_RATE/100)) WPC_TELKOM_FEE,
	       (SUM(O.ORDER_TOTAL) - (SUM(O.ORDER_TOTAL) * 0.015)) -
	       ((SUM(O.ORDER_TOTAL) - (SUM(O.ORDER_TOTAL) * 0.015)) * (CW.TAX_RATE/100)) AFTER_WPC_FEE,
	       0.4 totalRevPct,
	       ((SUM(O.ORDER_TOTAL) - (SUM(O.ORDER_TOTAL) * 0.015)) -
	       ((SUM(O.ORDER_TOTAL) - (SUM(O.ORDER_TOTAL) * 0.015)) * (CW.TAX_RATE/100))) * 0.4 carrierInvoice
	  FROM MF_ORDER O, CIRCLE_LOOKUP CW
	 WHERE TO_NUMBER(SUBSTR(PTN, 1, 7)) BETWEEN TO_NUMBER(CW.RANGE_START) AND
	       TO_NUMBER(CW.RANGE_END)
	   AND O.ORDER_TYPE IS NULL
	   AND O.PRICE_MODEL_ID <![CDATA[<>]]> 1005
	   <include refid="orderDateClause"/>
	    GROUP BY CW.CITY_CIRCLE,CW.TAX_RATE/100, O.DEVICE_DISPLAY_NAME
        ORDER BY CITY_CIRCLE, DEVICE_DISPLAY_NAME
  </select>
  
  <sql id="MSQuery0">
  	 SELECT FROM_TZ(CAST(O.ORDER_DATE AS TIMESTAMP),
	                '${serverTimeZone}') AT TIME ZONE '${carrier.carrierTimeZone}' ORDER_DATE,
	        O.COMPANY_NAME,
	        O.ITEM_ID,
	        I.NETWORK_AWARE,
	        O.DEVICE_DISPLAY_NAME ITEM_NAME,
	        IT.ITEM_TYPE_NAME,
	        DECODE(C.PUBLISHER_FLAG, 'true', 'direct', 'indirect') DIRECT_FLAG,
	        O.ORDER_TOTAL,
	        (#{carrier.taxRate} * O.ORDER_TOTAL) NET_SALES,
	        ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100)) NET_SALES_CRT,
	        CASE
                 WHEN ORDER_TOTAL = 0 THEN
                  1
                 ELSE
                  0
               END NUMBER_OF_ZERO,
               CASE
                 WHEN ORDER_TOTAL = 0 AND I.NETWORK_AWARE = 1 THEN
                  1
                 ELSE
                  0
               END NUMBER_OF_ZERO_NWA,
               
               CASE
                 WHEN ORDER_TOTAL <![CDATA[<]]> 0 THEN
                  1
                 ELSE
                  0
               END NUMBER_OF_REFUND,
               CASE
                 WHEN ORDER_TOTAL <![CDATA[>]]> 0 THEN
                  1
                 ELSE
                  0
               END NUMBER_OF_ORDER,
	        NVL(S.REVENUE_SHARE2, 0) CS_PCT,
	        
	        DECODE ((#{includeCP, typeHandler=com.cellmania.cmreports.db.handlers.BooleanTypeHandler}),
	        			1,NVL(S.REVENUE_SHARE3, 0),
	        			DECODE(C.PUBLISHER_FLAG, 'true',NVL(S.REVENUE_SHARE3, 0),0)) CM_PCT,
	        			
	        DECODE ((#{includeCP, typeHandler=com.cellmania.cmreports.db.handlers.BooleanTypeHandler}),
	        			1,NVL(S.REVENUE_SHARE, 0),
	        			DECODE(C.PUBLISHER_FLAG, 'true',NVL(S.REVENUE_SHARE, 0),0)) CP_PCT,
	        			
	        (NVL(S.REVENUE_SHARE2, 0) / 100) * ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100)) CARRIR_SHARE,
	        
	         DECODE ((#{includeCP, typeHandler=com.cellmania.cmreports.db.handlers.BooleanTypeHandler}),
	        			1,(NVL(S.REVENUE_SHARE3, 0) / 100) * ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100)),
	        			DECODE(C.PUBLISHER_FLAG, 
	        					'true',(NVL(S.REVENUE_SHARE3, 0) / 100) * ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100))
	        					,0)) CM_SHARE,
	        
	         DECODE ((#{includeCP, typeHandler=com.cellmania.cmreports.db.handlers.BooleanTypeHandler}),
	        			1,(NVL(S.REVENUE_SHARE, 0) / 100) * ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100)),
	        			DECODE(C.PUBLISHER_FLAG, 
	        					'true',(NVL(S.REVENUE_SHARE, 0) / 100) * ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100))
	        					,0)) CP_SHARE,
	        
	        (((NVL(S.REVENUE_SHARE3, 0) / 100) * ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100)))+ ((NVL(S.REVENUE_SHARE, 0)/ 100) * ((#{carrier.taxRate} * O.ORDER_TOTAL)*((100-#{currencyConversion})/100))))  CARRIER_INVOICE
	 
	   FROM MF_ORDER O, MF_ITEM_TYPE IT, MF_COMPANY C, MF_SETTLEMENT S, MF_ITEM I
	  WHERE O.ORDER_TYPE IS NULL
	    AND O.ITEM_TYPE_ID = IT.ITEM_TYPE_ID
	    AND O.ITEM_ID = I.ITEM_ID
	    AND O.COMPANY_ID = C.COMPANY_ID
	    <!--  If Y is set then all Free Apps (PM 1005) are excluded -->
	    <if test="yelement &gt; 0">
	    	AND O.PRICE_MODEL_ID <![CDATA[<>]]> #{yelement}
	    </if>
	    AND NVL(O.SETTLEMENT_ID, 0) = S.ID(+)
	    <include refid="orderDateClause"/>
  </sql>
</mapper>
